<launch>
    <include file="$(find alpha_rise_bringup)/launch/bringup_simulation.launch"/>

    <include file="$(find msis_pcl)/launch/start_cpp.launch"/>

    <!-- <include file="$(find wamv_bringup)/launch/bringup_multirobot.launch"/> -->

    <!--PCL Processing node-->
    <node ns="alpha_rise" pkg="pcl_proc" type="processing.py" 
        name ="msis_pcl_filter_node" output="screen">
        <rosparam command="load" file="$(find alpha_rise_config)/config/msis_filter_sim.yaml"/>
    </node>

    <!-- Bring up the Path Generation Node -->
    <include file="$(find alpha_rise_bringup)/launch/bringup_path.launch">
        <arg name="robot_name" value="alpha_rise"/>
        <arg name="is_sim" default="true"/>
    </include>

    <!-- FLS_PCL-->
    <node ns="alpha_rise" pkg="fls_pcl" type="fls_pcl.py" 
        name ="fls_pcl_node" output="screen">
        <!--Sub-->
        <remap from="/alpha_rise/fls/data/image" to="/alpha_rise/fls/data/image"/>
        <!--Pub-->
        <remap from="/alpha_rise/fls/pointcloud" to="/alpha_rise/fls/pointcloud"/>
        
        <rosparam command="load" file="$(find alpha_rise_config)/config/fls_pcl.yaml"/>
    </node>
</launch>